/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/




.nav-md .container.body {

  .minMenu {
    .left_col {
      width: 70px;

      .nav_title {
        width: 70px;
      }

      .profile_pic, .profile_info, .sidebar-footer {
        display: none;
      }

      .menu_section h3 {
        display: none;
      }

      .nav.side-menu > li > a {
        color: #e7e7e7;
        text-align: center !important;
        font-weight: 400;
        font-size: 10px;
        padding: 10px 5px;
      }

      .main_menu {
        .fa {
          width: 100%;
          opacity: .99;
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          -webkit-font-smoothing: antialiased;
          font-size: 25px !important;
          text-align: center;
          width: 100% !important;
          margin-bottom: 5px;
          -moz-osx-font-smoothing: grayscale;
        }

        .fa-chevron-down {
          display: none;
        }

        .nav.child_menu {
          left: 100%;
          position: absolute;
          top: 0;
          width: 210px;
          z-index: 4000;
          background: #3E5367;
        }
      }
    }

    .col-md-3 .left_col {
      width: 70px;
    }

    .right_col {
      margin-left: 70px;
    }

    .top_nav {
      margin-left: 70px;
    }

    @media (min-width: 992px) {
      footer {
        margin-left: 70px;
      }
    }

    @media (max-width: 991px) {
       .col-md-3.left_col {
         display: block; 
      }
    }

  }
}


